# Máquinas virutais de Sandbox CDH e HDP
tech/hadoop/cursos/coursera-big-data-analysis-with-sql/CDH Sandbox
tech/hadoop/cursos/udemy-the-ultimate-handson-hadoop/HDP Sandbox

# Arquivo bruto do Spark
tech/spark/downloads