# Máquinas virutais de Sandbox CDH e HDP
tech/hadoop/cursos/coursera-big-data-analysis-with-sql/CDH Sandbox
tech/hadoop/cursos/udemy-the-ultimate-handson-hadoop/HDP Sandbox

# Arquivo bruto do Spark
tech/spark/downloads

# Repositórios originais de livros no github
tech/spark/livros/spark-the-definitive-guide/book-github-resources
tech/hive/livros/apache-hive-essentials/book-github-resources

# Arquivos auxiliares
*.ipynb_checkpoints

# Evitando o compartilhamento de PDFs de livros indevidamenta
tech/*/livros/*/*.pdf
